@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add any custom styles below this line */

@keyframes gradient-x {
  0%, 100% {
    background-size: 200% 100%;
    background-position: left center;
  }
  50% {
    background-size: 200% 100%;
    background-position: right center;
  }
}